body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #164459 ;
  }
  
  .slider{
    width: 950px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 550%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 950px;
    height: 700px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 900px;
    margin-top: 140px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #164459 ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    
    margin-right: 60px;
  }
  
  .manual-btn:hover{
    background: #164459 ;
  }
  
  #radio1:checked ~ .first{
  
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
  
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{

    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 900px;
    margin-top: -140px;
    justify-content: center;
    /*margin-top: 460px;*/
  }
  
  .navigation-auto div{
    border: 2px solid #164459 ;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #164459 ;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #164459 ;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #164459 ;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #164459 ;
  }

  h1 {
    margin-right:5px;
    padding: 5px;
    font-size: 16px;
    color: rgb(99, 99, 99);
    float: right;
    position: absolute; bottom: 0; left: 0
    
  }

@media (max-width: 900px){
     h1{
      font-size:24px;
    }
    .navigation-auto{
        position: absolute;
        display: flex;
        width: 450px;
        margin-top: -280px;
        justify-content: center;
      }
      .slider{
        width: 400px;
        height: 350px;
        border-radius: 10px;
        overflow: hidden;
      }
      
      
      .slide img{
        width:400px;
        height: 350px;
      }
      
      .slide{
        width: 20%;
        transition: 1s;
      }
   

    }
    
    
    

     

       .sidenav {
        height: 100%;
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0;
        left: 0;
        background-color: #111; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
      }
      
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
     
      .sidenav a:hover {
        color: #f1f1f1;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      

      #main {
        transition: margin-left .5s;
        padding: 20px;
      }


      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
